{% extends 'layout.html' %}

{% load static %}
{% load store_extras %} <!-- Load the custom filter for dictionary access -->

{% block content %}
    <div class="header">
        <h1>My Ecommerce</h1>
        <br>
        <hr>

        <!--This loop will be useful for my navbar --> 
        <!--Possible refactoring needed to avoid looping over every hierarchy level-->
        {% if categories %}
            <h2>Categories</h2>
            <ul>
                {% for parent_cat in parent_categories %}
                    <li>
                        {{ parent_cat.name }}
                        <ul>
                            {% for child in parent_cat.children.all %}
                                <li>
                                    {{ child.name }}
                                    <ul>
                                        {% for grandchild in child.children.all %}
                                            <li>
                                                {{ grandchild.name }}
                                            </li>
                                        {% empty %}

                                        {% endfor %}
                                    </ul>
                                </li>

                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No categories available.</p>
        {% endif %}

        
        <hr>
        {% for parent_cat in parent_categories %}
            <h3>{{ parent_cat.name }}</h3>
            {% with products=parent_products|get_item:parent_cat.slug %}
                {% for product in products %}
                    <h5>{{ product.name }}</h5>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 300px; height: 300px;">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                {% empty %}
                    <h4>No products available in this category.</h4>
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}