{% extends 'layout.html' %}

{% load static %}
{% load store_extras %} <!-- Load the custom filter for dictionary access -->

{% block content %}
    <div class="header">
        <h1>My Ecommerce</h1>
        <br>
        <hr>

        <!--This loop will be useful for my navbar --> 
        <!--Possible refactoring needed to avoid looping over every hierarchy level-->
        {% if categories %}
            <h2>Categories</h2>
            <ul>
                {% for parent_cat in parent_categories %}
                    <li>
                        {{ parent_cat.name }}
                        <ul>
                            {% for child in parent_cat.children.all %}
                                <li>
                                    {{ child.name }}
                                    <ul>
                                        {% for grandchild in child.children.all %}
                                            <li>
                                                {{ grandchild.name }}
                                            </li>
                                        {% empty %}

                                        {% endfor %}
                                    </ul>
                                </li>

                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No categories available.</p>
        {% endif %}

        <hr>

        {% for parent_cat in parent_categories %}
            <section>
                <h2>{{ parent_cat.name }}</h2>
                {% with products=parent_products|get_item:parent_cat.slug %}
                    {% if products %}
                        <ul class="product-list">
                            {% for product in products %}
                                <li>
                                    <a href="{% url 'store:product_detail' slug=product.slug %}">
                                        <h3>{{ product.name }}</h3>
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200" height="200">
                                        {% else %}
                                            <div class="no-image">No image available</div>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No products available in this category.</p>
                    {% endif %}
                {% endwith %}
            </section>
        {% endfor %}

{% endblock %}