{% extends 'layout.html' %}

{% load static %}
{% load store_extras %} <!-- Load the custom filter for dictionary access -->

{% block content %}
    <div class="header">
        <h1>My Ecommerce</h1>
        <br>

        <hr>
        {% for parent_cat in parent_categories %}
            <h3>{{ parent_cat.name }}</h3>
            {% with products=parent_products|get_item:parent_cat.slug %}
                {% for product in products %}
                    <h5>{{product.parent.name}} {{ product.name }}</h5>
                {% empty %}
                    <h4>No products available in this category.</h4>
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}